.book-pop{
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff20;
  backdrop-filter: blur(.3rem);
  padding: 7% 12%;
} 

.pop-container {
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

img.book-img {
  width: 350px;
  height: 426px;
}

.pop-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 425px;
  padding: 3%;
  margin-left: 55px;
}

h1.book-title {
  color: var(--navy);
  font-size: 24px;
  margin-top: 14px;
  margin-bottom: 20px;
}

p.book-author {
  margin-bottom: 17px;
  color: var(--brown);
  font-weight: bold;
  font-size: 18px;
}

ul.stars {
  display: flex;
  list-style: none;
  gap: 8px;
  font-size: 20px;
  color: var(--orange);
}

p.book-desc {
  color: var(--navy);
  font-size: 16px;
  font-weight: bold;
  margin-top: 27px;
  line-height: 30px;
  overflow: scroll;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto&family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' ,'Poppins', "Courgette", 'Times New Roman', Times, serif;
}

:root {
    --navy: #003060;
    --orange: #e55b13;
    --yellow: #f8c625;
    --brown: #a47551;
    --beige: #e9dccb;
    --light-beige: #f6eee0;
}

button#close{
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  float: right;
  margin-right: 21px;
}

.book-infoo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 14px;
  font-size: 19px;
}

a.book-link {
  text-decoration: none;
  color: var(--orange);
  float: right;
  display: flex;
}